[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home
Type=simple
ExecStartPre=/sbin/modprobe uinput
ExecStart=~/.cargo/bin/kanata --cfg "~/kanata-config/kanata.kbd"
Restart=no

[Install]
WantedBy=default.target
